<div class="input-group m-3 w-50">
  <label class="pr-2">Search</label>
  <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1"
    [formControl]="searchInput"
  >
</div>
<div *ngIf="loading" class="spinner-border text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="m-3 w-50">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of todos$ | async">
      {{ item.title }}
    </li>
  </ul>
</div>